<!DOCTYPE html>
<html>
    <head>
        <title>Message sent!</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/confirmation.css">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap" rel="stylesheet">
        <meta name="description" content="Error page">
        
    </head>
    <body>
        <img class="logo background" src="../img/gw-lb.png"></img>
            <h1 class="main-message">Message sent!</h1>
            <div class="tick-container"><img class="tick-img" src="/img/tick-gw.png"></div>
            <h2 class="thanks-txt">Thanks for your feedback👊</h2>
            <p class="affirmation">I'll respond as soon as I possibly can.</p>
            <a class="backlink" th:href="@{/}">Homepage</a>
    </body>
</html>