<!DOCTYPE html>
<html>
    <head>
        <title>Ooops...</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/error.css">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap" rel="stylesheet">
        <meta name="description" content="Error page">
        
    </head>
    <body>
        <img class="logo background" src="../img/gw-lb.png"></img>
            <h1 class="error">404</h1>
            <p class="under-error-txt">There is nothing interesting here...</p>
            <p class="back-txt">Come back to <a class="back-link" href="#">homepage</a></p>
    </body>
</html>