<!DOCTYPE html>
<html>
    <head>
        <title>Web Development Services|Peter's Websites</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
        <meta name="description" content="This is website development service. Learn how to create your own website. ">
        
    </head>
    <body>
        <div class="navbar">
            <img class="logo background" src="/img/gwlogo.png"></img>
            <a href="#contact" class="button nav-btn">CONTACT NOW!</a>
        </div>
        <div class="welcome-page">
            <div class="intro" id="main-header"><h1>Creating best <span class="outstanding text">websites</span> for you</h1>
            </div>
            <div class="desktop-txt">
                <h3>ABOUT MY SERVICES</h3>
                <p style="margin-top: 1rem;">
                    Hello, my name is Peter. I'm freelance web developer. <br>
                    Let me take your online presence to another level by designing website for you.<br> 
                    I value time and quality, so I create websites quick and effective. 
                </p>
            </div>
            <div class="mockup background"></div>
            <div class="occasion">
                <h3>ORDERS <span class="outstanding text">AVAILABLE</span></h3><p><div id="countdown"></div>
                <a href="#contact" class="button main-btn">CONTACT NOW!</a>
            </div>
        </div> 
        <div class="reasons">
            <h2 class="intro h2-intro" id="main-header"><span class="outstanding text">Why</span> website...?</h2>
            <div class="badges">
                    <div class="badge-container">
                        <img class="badge" src="/img/pro-badge.png">
                    </div>
                    <h3>Professional Appearance</h3>
                    <div class="badge-container">
                        <img class="badge" src="/img/trus-badge.png">
                    </div>
                    <h3>Client Trust</h3>
                    <div class="badge-container">
                        <img class="badge" src="/img/unique-badge.png">
                    </div>
                    <h3>Unique Brand Identity</h3>
            </div>
            <h4 id="under-badge-txt">And more!</h4>
        </div>
        <div>
            <h2 class="intro h2-intro">Your website<br> in <span class="outstanding text">just few steps.</span></h2>
            <div class="workflow background"></div>
        </div>
        <div id="contact">
            <h2 class="intro h2-intro"><span class="outstanding text">Contact</span> me</h2>
            <form autocomplete="off" th:action="@{/send}" method="POST">
                <input type="email" class="contact-field" id="sender" th:field="${mail.sender}" placeholder="Email">
                <textarea id="email-text" class="contact-field" th:field="${mail.text}" placeholder="Message"></textarea>
                <button class="button" id="submit-btn" type="submit">Send</button>
            </form>
        </div>
        <footer>
            <img class="logo-foot background" src="/img/gwlogo.png"></img>
            <div class="media-icons">
                <a href="https://www.facebook.com/profile.php?id=100011194814784" class="media-logo background" id="facebook"></a>
                <a href="https://www.instagram.com/gerke.p/" class="media-logo background" id="insta"></a>
                <a href="https://github.com/Gerkep" class="media-logo background" id="github"></a>
            </div>
            <div class="footer-info">
                <a href="#" class="info-foot">Privacy policy</a>
                <p class="info-foot copyright">@2021 Piotr Gerke</p>
            </div>
        </footer>
        <script src="/js/countdown.js"></script>
    </body>
</html>